

body{
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  /background-image: url("../ig.png");
  font-family: "ubuntu", sans-serif;
  background: linear-gradient(-10deg,#000000,#333333);
}
.nav_bar{
  min-height: 13vw;
  font-size: 4.5vw;
  display: flex;
  align-items: center;
  justify-content: right;/*pain*/
  gap: 1vw;
  overflow-x: hidden;
  position: relative;
}
.header{
  background: rgba(0,0,0,0.5);
  border: solid rgba(0,0,0,0.3) 1.5vw;
  border-radius: 10vw;
  margin: 2vh auto;
  width: 95vw;
}
.items_container{
  margin: -3vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0px;
  width: 60vw;
  top: 0;
  right: -100%;
  background-color: rgba(0,0,0,0.9);
  color: #f8f8ff;
  align-items: center;
  height: 90vh;
}
.nav_items{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
}
#song_search{
  padding: 1vw;
  width: 60%;
  background: transparent;
  border: none;
  border-left: solid rgba(255,255,255,0.3) 0.3vw;
  font-size: 5vw;
}
#song_search:focus {
  outline: none;
  border: none; 
}
#open{
  font-size: 7vw !important;
  cursor: pointer;
  color: #DCDCDC;
}
.menu_icon{
  padding: 2.5vw;
  margin-right: 1vw;
  border-radius: 5vw;
  background: transparent;
  border: none;
}