body{
  margin: 0px;
  padding: 0;
  background: linear-gradient(-10deg,#000000,#333333);
  width: 100vw;
  height: 100vh;
  background-size: 200vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: move;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-delay: -0.5s;
}
h1{
  font-family: "ubuntu",sans-serif;
  font-size: 13vw;
  font-weight: 450;
  background: linear-gradient(-45deg,#cdcdcc,#808080,#cdcdcc,#808080);
  background-clip: text;
  background-size: 300vw;
  color: transparent;
  animation-name: texture;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 0s;
  
}
@keyframes texture{
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}
@keyframes move{
  0%{
    background-position: 0% 0%
  }
  25%{
    background-position: 100% 0%;
  }
  50%{
    background-position: 100% 100%;
  }
  75%{
    background-position: 0% 100%;
  }
  100%{
    background-position: 0% 0%;
  }
}
